Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
dj-database-url>=2.1,<2.2
django-storages[s3]>=1.14,<1.15
python-dotenv>=1.0,<1.1
psycopg[binary]>=3.1
django-cors-headers>=4.3,<4.4
requests>=2.31,<2.33
celery>=5.3,<5.4
redis>=5.0,<5.1
